<% provide(:title, 'All Attendances') %>

<h1>出勤中社員一覧</h1>
<tbody>
  
</tbody>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>No</td>
      <td>社員番号</td>
      <td>名前</td>
    </tr>

    
  </table>
</div>