<% provide(:title, 'All Attendances') %>

<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>No</td>
      <td>社員番号</td>
      <td>名前</td>
    </tr>

    <tr>
      <td colspan = "3">いません</td>
    </tr>
  </table>
</div>